@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: space-between;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;
  color: var(--color-beige) !important;
  width: 100%;
  justify-content: space-between; 
  text-decoration: none !important;



  > * {
    text-decoration: none;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.navIcon{
  color: var(--color-beige) !important;
}

.seperator{
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
}
.link{
  text-decoration: none;
}